{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('login') }}
{% endblock %}
{% block header %}{% endblock %}
{% block body %}

    <body class="align">

        <h1>
            Mot de passe oublié
        </h1>
        <div class="grid">
            {{ form_start(form, { attr: { class: 'form login' } }) }}
            <div class="form__field">
                {{ form_widget(form.email, { attr: { placeholder: 'Adresse Email' } }) }}
            </div>
            <input type="submit" class="login__submit" value="Réinitialiser le mot de passe">
                {{ form_end(form) }}
            </div>

            {# Affichage des messages flash pour les succès #}
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            {# Affichage des messages flash pour les erreurs #}
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
        </body>
    {% endblock %}
    