{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('login') }}
    {{ encore_entry_link_tags('swiper') }}
    {{ encore_entry_link_tags('demoCss') }}
{% endblock %}
{% block body %}

    <div class="container d-flex flex-column justify-content-around overflow-hidden">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">

                    <p>
                        Inscrivez-vous et accédez à votre tableau de bord.
                    </p>
                    <p>
                        <img src='assets/img/screenshots/accueil.png' alt="accueil"></p>
                    </div>
                    <div class="swiper-slide">

                        <p>
                            Ajoutez vos candidatures ...
                        </p>
                        <p>
                            <img src='assets/img/screenshots/nouvelle_candidature.png' alt="nouvelle_candidature"></p>
                        </div>

                        <div class="swiper-slide">
                       
                            <p>
                                ...et suivez-les facilement.
                            </p>
                            <p>
                                <img src='assets/img/screenshots/fiche_candidature.png' alt="fiche_candidature"></p>
                            </div>
                            <div class="swiper-slide">

                                <p>
                                    Consultez des statistiques sur vos candidatures.
                                </p>
                                <p>
                                    <img src='assets/img/screenshots/tdb.png' alt="tableau de bord"></p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
        <div>
            {{ include('security/_form.html.twig') }}
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('demo') }}
{% endblock %}
