{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('login') }}
    {{ encore_entry_link_tags('swiper') }}
    {{ encore_entry_link_tags('demoCss') }}
{% endblock %}
{% block header %}{% endblock %}
{% block body %}

    <div class="container d-flex flex-column justify-content-around overflow-hidden">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">

                    <p>
                        Inscrivez-vous et accédez à votre tableau de bord.
                    </p>
                    <p>
                        <img src={{ asset('img/screenshots/1.webp') }}  alt="accueil" />
                    </p>
                </div>

                <div class="swiper-slide">

                    <p>
                        Consultez les offres d'emplois personnalisés
                    </p>
                    <p>
                        <img src={{ asset('img/screenshots/2.webp') }}  alt="nouvelle_candidature"></p>
                    </div>

                    <div class="swiper-slide">

                        <p>
                            Consultez des statistiques sur vos candidatures.
                        </p>
                        <p>
                            <img src={{ asset('img/screenshots/3.webp') }}  alt="fiche_candidature"></p>
                        </div>
                        <div class="swiper-slide">

                            <p>
                                Gérer votre espace personnel
                            </p>
                            <p>
                                <img src={{ asset('img/screenshots/4.webp') }} alt="tableau de bord"></p>

                            </div>

                            <div class="swiper-slide">

                                <p>
                                    Gérez vos candidatures
                                </p>
                                <p>
                                    <img src={{ asset('img/screenshots/5.webp') }}  alt="tableau de bord"></p>
                                </div>
                                <div class="swiper-slide">

                                    <p>
                                        Enregistrer vos candidatures
                                    </p>
                                    <p>
                                        <img src={{ asset('img/screenshots/6.webp') }}  alt="tableau de bord"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                    <div>
                        {{ include('security/_form.html.twig') }}
                    </div>
                    <div class="text--center">
                        <a href="{{ path('app_forgot_password') }}">
                            Mot de passe oublié
                        </a>
                    </div>
                </div>
            {% endblock %}
            {% block javascripts %}
                {{ encore_entry_script_tags('demo') }}
            {% endblock %}
            