{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ encore_entry_link_tags('login') }}
{% endblock %}
{% block header %}
{% endblock %}
{% block body %}
    <body class="align">

        <h1 class="text-center">

            Réinitialisation de votre mot de passe
        </h1>
        <div class="grid">

            {{ form_start(form, {attr : {class: 'form login' }}
            ) }}
            <div class="form__field">
                {{ form_widget(form.password.first) }}
            </div>

            <div class="form__field">
                {{ form_widget(form.password.second) }}
                {{ form_errors(form.password.second) }}
            </div>
            <div class="password-strength ">
                <div id="password-strength-meter"></div>
                <p id="password-strength-text"></p>
                {{ form_errors(form.password.first) }}
            </div>
            <div class="form__field">
                <input type="submit" class="login__submit" value="Réinitialiser"></input>
            </div>
            {{ form_end(form) }}

            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            {% block scripts %}
                <script src="{{ asset('/js/register.js') }}"></script>

            {% endblock %}
        </div>
    </div>
{% endblock %}
