<table	class="table table-striped">
	<thead>
		<tr>
			<th>
				Employeur
			</th>
			<th>
				Titre de l'annonce
			</th>
			<th>
				Candidature initiale le
			</th>
			<th>
				Derniere Action
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		 {% set now = date() %}
		 {% for jobInProgress in jobsInProgress %}
		 {% set job = jobInProgress  %}

			  <tr>
				
				<td>
					{{ job.recruiter }}
				</td>
				<td>
					{{ job.title }}
				</td>
				<td>
					{% set oldDate = date(job.createdAt | date('Y-m-d')) %}
					 {% set interval = now.diff(oldDate) %}
						{{ oldDate | date('d/m/Y') }}
				</td>
				<td>
					{% set lastJobTracking = job.jobtracking | last %}
					{% if lastJobTracking | length > 0 %}
					
					{{ lastJobTracking.action.name }}
					{% set oldDate = date(lastJobTracking.createdAt | date('Y-m-d')) %}
					{% set intervalJobTracking = now.diff(oldDate) %}
					({{ intervalJobTracking.days }}j) 

					{% else %}
						Aucune
				{% endif %}

				</td>
			
				<td>
					<a	type="button"	href="{{ path('app_job_tracking', {'id': job.id}) }}"	class="btn btn-primary btn-sm">
						Visualiser
					</a>
				</td>
			 </tr> 
		 {% endfor %} 
	</tbody>
</tbody></table>