{% extends 'base.html.twig' %}

{% block title %}
  Mon espace
{% endblock %}

{% block javascripts %}

  {{ encore_entry_script_tags('mySpace') }}

{% endblock %}

{% block body %}

  {{ include('user/show.html.twig') }}
  <div class="js-table-data" data-table-items="{{ jobs }}"></div>
  <div class="my-3 bg-div">

    <div class="accordion" id="mySpaceAccordion">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#allJobs" aria-expanded="false" aria-controls="allJobs">
            Toutes les candidatures
          </button>
        </h2>
        <div id="allJobs" class="accordion-collapse collapse" data-bs-parent="#mySpaceAccordion">
          <div class="accordion-body">
          {% include "home/_dataTable.html.twig" with {'ths': ['Employeur','Intitulé', 'Dernière action', 'Délai (Jours)', 'Action']} %}

          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#cv" aria-expanded="false" aria-controls="cv">
            CVs
          </button>
        </h2>
        <div id="cv" class="accordion-collapse collapse" data-bs-parent="#mySpaceAccordion">
          <div class="accordion-body">
            {% if( user.cvs | length > 0) %}
              <div class="p-3">
                <table class="table  table-striped">
                  <thead>
                    <tr>
                      <th scope="col">
                        Nom du CV
                      </th>
                      <th scope="col">
                        Date
                      </th>

                    </tr>
                  </thead>
                  <tbody>
                    {% for cv in user.cvs %}
                      <tr>
                        <td>
                          <a href="{{ path('cv_show', {id: cv.id}) }}">
                            {{ cv.title }}
                          </a>

                        </td>
                        <td>
                          {{ cv.updatedAt | date('d/m/y') }}
                        </td>

                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>

            {% endif %}

            {{ include('cv/_form.html.twig') }}

          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#criterias" aria-expanded="false" aria-controls="criterias">
              Citères de recherche
            </button>
          </h2>
          <div id="criterias" class="accordion-collapse collapse" data-bs-parent="#mySpaceAccordion">
            <div class="accordion-body">
              {{ form_start(formApiSettings, {'method': 'POST'}) }}
              <div class="my-1">
                {{ form_widget(formApiSettings.what) }}
              </div>
              <div class="my-1">
              {{ form_widget(formApiSettings.city_autocomplete) }}
            </div>
              <div class="input-group my-1">
                {{ form_widget(formApiSettings.distance) }}
                <span class="input-group-text" id="distance">
                  Kms
                </span>
              </div>
              {{ form_widget(formApiSettings.whatExclude) }}
              <div class="d-flex justify-content-end">
              <input type="submit" class="btn btn-link">

            </div>
              {{ form_end(formApiSettings) }}
            </div>
          </div>
        </div>

      </div>
      
    {% endblock %}
    