{% extends 'base.html.twig' %}

{% block title %}
  Mon espace
{% endblock %}

{% block javascripts %}

  {{ encore_entry_script_tags('mySpace') }}

{% endblock %}

{% block body %}

  <div class="js-table-data" data-table-items="{{ jobs | json_encode }}"></div>
  <div class="my-3 bg-div">

    <div class="accordion" id="mySpaceAccordion">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed  d-flex gap-1" type="button" data-bs-toggle="collapse" data-bs-target="#userData" aria-expanded="false" aria-controls="userData">
            Vos coordonnées
          </button>
        </h2>
        <div id="userData" class="accordion-collapse collapse  " data-bs-parent="#mySpaceAccordion">
          <div class="accordion-body">
            {{ include('user/show.html.twig') }}

          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed  d-flex gap-1" type="button" data-bs-toggle="collapse" data-bs-target="#allJobs" aria-expanded="false" aria-controls="allJobs">
            Toutes les candidatures
            <div class="badge text-bg-secondary">
              {{ jobs| length }}
            </div>

          </button>
        </h2>
        <div id="allJobs" class="accordion-collapse collapse  " data-bs-parent="#mySpaceAccordion">
          <div class="accordion-body">
            {% include "home/_dataTable.html.twig" with {'ths': ['Employeur','Intitulé', 'Dernière action', 'Délai (Jours)', 'Action']} %}

          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed d-flex gap-1" type="button" data-bs-toggle="collapse" data-bs-target="#cv" aria-expanded="false" aria-controls="cv">
            CVthèque
            <div class="badge text-bg-secondary">
              {{ user.cvs | length }}
              /5
            </div>
          </button>

        </h2>
        <div id="cv" class="accordion-collapse collapse" data-bs-parent="#mySpaceAccordion">
          <div class="accordion-body">
            {% if( user.cvs | length > 0) %}
              <div class="p-3">
                <table class="table  table-striped">
                  <thead>
                    <tr>
                      <th scope="col">
                        Nom du CV
                      </th>
                      <th scope="col">
                        Date
                      </th>

                    </tr>
                  </thead>
                  <tbody>
                    {% for cv in user.cvs %}
                      <tr>
                        <td>
                          <a href="{{ path('cv_show', {id: cv.id}) }}">
                            {{ cv.title }}
                          </a>

                        </td>
                        <td>
                          {{ cv.updatedAt | date('d/m/y') }}
                        </td>

                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>

            {% endif %}
            {% if  user.cvs | length <=5 %}
              {{ include('cv/_form.html.twig') }}
            {% else %}
              <p>
                Nombre maximal de CV atteint
              </p>
            </div>
          {% endif %}

        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed  d-flex gap-1" type="button" data-bs-toggle="collapse" data-bs-target="#criterias" aria-expanded="false" aria-controls="criterias">
            Citères de recherche
            {% if user.jobSearchSettings.city and user.jobSearchSettings.what %}

              <div class="badge text-bg-secondary">
                {{ user.jobSearchSettings.what }}
                à
                {{ user.jobSearchSettings.city.cityCode }}
              </div>
            {% endif %}
          </button>
        </h2>
        <div id="criterias" class="accordion-collapse collapse" data-bs-parent="#mySpaceAccordion">
          <div class="accordion-body">
            {{ form_start(formApiSettings, {'method': 'POST'}) }}
            <div class="my-1">
              {{ form_widget(formApiSettings.what) }}
            </div>
            <div class="d-flex justify-content-between align-items-center  my-1 gap-1">
              {{ form_widget(formApiSettings.city_autocomplete) }}
              à
              {{ form_widget(formApiSettings.city, {"attr": {'value':user.jobSearchSettings.city.id | default('') }}
              ) }}
              <div class="input-group my-1">
                {{ form_widget(formApiSettings.distance) }}
                <span class="input-group-text" id="distance">
                  Kms alentours
                </span>
              </div>
            </div>

            {{ form_widget(formApiSettings.whatExclude) }}
            <div class="input-group my-1">
              {{ form_widget(formApiSettings.maxDaysOld) }}
              <span class="input-group-text" id="maxDaysOld">
                Jours
              </span>
            </div>

            <div class="d-flex justify-content-end">
              <input type="submit" class="btn btn-link"></div>
              {{ form_end(formApiSettings) }}
              <div>
                <span class="text-info">
                  Attention certains sites ne prennent pas en compte :
                </span>
                <ul class="text-info">
                  <li>
                    les mots clés à exclure.
                  </li>
                  <li>
                    L'ancienneté des annonces
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>

    {% endblock %}
    