{% extends 'base.html.twig' %}

{% block title %}Vos candidatures{% endblock %}
{% block javascripts %}

	{{ encore_entry_script_tags('board') }}

{% endblock %}
{% block body %}
<div class="d-flex   bg-div row">
<div id="chart-bar-jobs-per-month" class="col-xl-6 my-3 "></div>
<div id="chart-bar-jobs-week" class="col-xl-6 my-3 " ></div>
<div id="chart-pie-action"  class="col-xl-6 my-3 "></div>
<div id="chart-pie-closed-action"  class="col-xl-6 my-3 "></div>
<div id="chart-pie-source"  class="col-xl-6 my-3 "></div>
<div id="chart-stacked-actions-by-source" class="col-xl-6 my-3 "></div>

<div	class="js-chart-data" data-jobs-per-month="{{ jobsPerMonths | serialize }}" data-closed-jobs-per-month="{{ closedJobsPerMonth | serialize }}" data-job-sources="{{ jobSources | serialize }}" data-job-actions="{{ jobActions | serialize }}"  data-actions-by-source ="{{ actionsBySourceCount | serialize }}" data-current-week ="{{ currentWeekJob | serialize }}" data-closed-actions ="{{ jobClosedActions | serialize }}"  ></div>



{% endblock %}
