{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('job-alert') }}

{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('jobAlert') }}

{% endblock %}
{% block body %}
    <div class="js-table-data" data-table-adzuna="{{ adzunaJobResults | json_encode }}" data-table-france-telecom="{{ franceTravailJobResults| json_encode }}" data-table-jooble="{{ joobleResults| json_encode }}"></div>
    <div class="bg-div">
        {% set apiSettings = app.user.jobSearchSettings %}
        <p>
            Annonces pour des
            {{ apiSettings.maxDaysOld }}
            derniers jours pour
            <strong>
                {{ apiSettings.what }}
            </strong>
            à
            <strong>
                {{ apiSettings.distance }}
                Km
            </strong>
            autour de
            <strong>
                {{ apiSettings.city.cityCode | title }}
            </strong>

        </p>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item d-flex align-items-center" role="presentation">
                <button class="nav-link active" id="adzuna-tab" data-bs-toggle="tab" data-bs-target="#adzuna-tab-pane" type="button" role="tab" aria-controls="adzuna-tab-pane" aria-selected="true">
                    <img class='logo' src="/assets/img/adzuna.png" alt="Adzuna"></button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="france-travail-tab" data-bs-toggle="tab" data-bs-target="#france-travail-tab-pane" type="button" role="tab" aria-controls="france-travail-tab-pane" aria-selected="false">
                        <img class='logo' src="/assets/img/france_travail.webp" alt="France travail"></img>
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="jooble-tab" data-bs-toggle="tab" data-bs-target="#jooble-tab-pane" type="button" role="tab" aria-controls="jooble-tab-pane" aria-selected="false">
                        <img class='logo' src="/assets/img/jooble.png" alt='Jooble'></img>
                    </button>
                </li>
            </ul>
            <div class="tab-content bg-white" id="myTabContent">
                <div class="tab-pane fade show active bg-white " id="adzuna-tab-pane" role="tabpanel" aria-labelledby="adzuna-tab" tabindex="0">
                    <div class="bg-white">

                        <div class="search-container p-3">
                            <input type="text" id="search-input-adzuna" class="form-control " placeholder="Rechercher">
                                {% if adzunaJobResults | length  > 50 %}
                                    <p class="text-warning">
                                        Seul les 50 premiers résultats sont affichés veuillez affinez votre recherche
                                    </p>
                                {% endif %}
                            </div>
                            <div id="job-list-adzuna" class='d-flex justify-content-between flex-wrap'>
                                {% for job in adzunaJobResults %}
                                    {{ include('_job_alert_card.html.twig') }}
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane fade  bg-white " id="france-travail-tab-pane" role="tabpanel" aria-labelledby="france-travail-tab" tabindex="0">
                        <div class="bg-white">

                            <div class="search-container p-3">
                                <input type="text" id="search-input-ft" class="form-control" placeholder="Rechercher"></div>
                                <div id="job-list-ft" class='d-flex justify-content-between flex-wrap'>
                                    {% for job in franceTravailJobResults %}
                                        {{ include('_job_alert_card.html.twig') }}
                                    {% endfor %}
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade  bg-white " id="jooble-tab-pane" role="tabpanel" aria-labelledby="jooble-tab" tabindex="0">
                        <div class="bg-white">

                            <div class="search-container p-3">
                                <input type="text" id="search-input-jooble" class="form-control" placeholder="Rechercher"></div>
                                <div id="job-list-jooble" class='d-flex justify-content-between flex-wrap'>
                                    {% for job in joobleResults %}
                                        {{ include('_job_alert_card.html.twig') }}
                                    {% endfor %}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <template id="cardTemplate">
            {% include '/_job_alert_card.html.twig' with { job: {} } | raw %}
        </template>
        <script>
                function newJob(job) {
                
            $.post({
                url: '{{ path('candidature_from_job_alert') }}', // Route qui traite les données du job
                data: JSON.stringify({ job: job }),
                success: function(response) {
                 if(response){
                    parent.location.href = '{{ path('app_synthese') }}'
                }
            }
                })}
            </script>
    {% endblock %}
    