{% extends 'base.html.twig' %}

{% block title %}
    Nouvelle Candidature
{% endblock %}

{% block body %}
    <div class="bg-div">
        {{ form_start(form) }}

            {{ form_label(form.recruiter) }}
            {{ form_widget(form.recruiter) }}

            {{ form_label(form.title) }}
            {{ form_widget(form.title) }}

            {{ form_label(form.offerDescription) }}
            {{ form_widget(form.offerDescription) }}

            {{ form_label(form.created_at) }}
            {{ form_widget(form.created_at) }}

            {{ form_label(form.source) }}
            {{ form_widget(form.source) }} 


        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-link d-block">
                Valider
            </button>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
