{% extends 'base.html.twig' %}

{% block title %}Nouvelle Candidature{% endblock %}

{% block body %}
<div	class="col-auto p-3 bg-div border rounded">
	
	{{ form_start(form)}}
	<div	class="d-flex align-items-center gap-3 flex-wrap">
		<div	class="col">
			{{ form_label(form.recruiter) }}
			{{ form_widget(form.recruiter) }}
		</div>
		<div	class="col">
			{{ form_label(form.title) }}
			{{ form_widget(form.title) }}
		</div>

        <div	class="col">
        {{ form_label(form.publicationDate) }}
        {{ form_widget(form.publicationDate) }}
    </div>
	</div>
		{{ form_label(form.offerDescription) }}
		{{ form_widget(form.offerDescription) }}
		<div	class="col-auto">
		{{ form_label(form.created_at) }}
		{{ form_widget(form.created_at) }}
	</div>
	<div  class='action'>

		<div	class="d-flex align-items-stretch gap-3 flex-wrap">
			<div	class="col">
				{{ form_label(form.source) }}
				{{ form_widget(form.source) }}
			</div>
	
		</div>
		{{ form_label(form.coverLetter) }}
		{{ form_widget(form.coverLetter) }}
	</div>


		<div	class="d-flex justify-content-end">
			<button	type="submit"	class="btn btn-link d-block">
				Valider
			</button>
		</div>

	{{ form_end(form) }}

</div>
{% endblock %}
