<div class="col-auto">
    {% set action =   path('app_job_tracking', {'id' : job.id}) %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate' , 'action': action }}
    ) }}
    <div class="row ">
        <div class="col-xl col-12 align-self-end" >
            {{ form_widget(form.recruiter, {attr: {'disabled': not isNew} }) }}
        </div>
        <div class="col-xl col-12 align-self-end" >
            {{ form_widget(form.title, {attr: {'disabled': not isNew} }) }}
        </div>
        <div class="col-xl col-12">
        {{ form_widget(form.created_at, {attr: {'disabled': not isNew} }) }}
    </div>

    <div class="col-xl col-12">
    {{ form_widget(form.source, {attr: {'disabled': not isNew} }) }}
</div>
  
    </div>
    {{ form_label(form.offerDescription) }}
    {{ form_widget(form.offerDescription, {attr: {'disabled': not isNew} }) }}


    {% if isNew %}
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-success  d-block">
                Valider
            </button>
        </div>
    {% endif %}

    {{ form_end(form) }}

</div>
