<div class="steps">
  {% for jobTracking in jobTrackings %}
    <div class="step">
      <div>
        {{ jobTracking.action.name }}
      </div>
      <div>
        {{ jobTracking.createdAt | date('d/m/Y') }}
      </div>
      {% if   loop.index > 1 %}
        <div>
          <button class="btn  btn-link" data-bs-toggle="modal" data-bs-target="#handleModifyModal" data-job-tracking-id="{{ jobTracking.id }}" data-job-tracking-action="{{ jobTracking.action.id }}" data-job-tracking-created-at="{{ jobTracking.createdAt | date('c') | slice(0,10) }}">
            Modifier
          </button>
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>
