<div class="m-3 p-3 border rounded bg-white row col-xxl-2 col-xl-3 col-lg-4 col-12">
<div class="d-flex flex-column">
    <div class="h-3">
        <h3>
            {{ (job.recruiter | default('job_recruiter') | length > 15 ) 
            ? (job.recruiter |slice(0, 15) ~ '...') 
            : (job.recruiter | default('job_recruiter')) }}
        </h3>
        {% if  job %}

            <h5 class="">
                {{ job.action_name  | default('job_action_name' ) }}
                il y a
                {{ job.delai  | default('job_delai') }}
                j
            </h5>
        {% endif %}
        <hr>
    </div>

    <div class="d-flex flex-column justify-content-between flex-grow-1">
        <h3>
            {{ job.title  | default('job_title') }}
        </h3>
        <p class="flex-grow-1">
            {{ job.description | default('job_description') | slice(0, 300) }} ...
        </p>
<hr>
    </div>
    <div>
        <p class="text-end flex-grow-1">
        
        <a href="{{ path('app_job_tracking',  {'id':job.id | default('job_id')}) }}">
            Visualiser
        </a>
    </p></div>
</div></div>
