<div class="m-3 p-3 border rounded row col-xl-3 col-11">

    <div class="">
        <h3>
            {{ job.company | default('job_company') }}
        </h3>

        <h5 class="">
            {{ job.location  | default('job_location' ) }}
        </h5>
        <p>
            Publié le
            {{ job.created | default('job_created') }}
        </p>

    </div>

    <div class="d-flex flex-column justify-content-between">
        <h3>
            {{ job.title  | default('job_title') }}
        </h3>
        <p>
            {{ job.description | default('job_description') | slice(0, 300) | raw}}
            ...
        </p>
        <div class="d-flex justify-content-end gap-2 align-items-center">

            <button class='d-block btn btn-link' onclick="newJob({{job|json_encode}})">
                Ajouter la candidature
            </button>
            <a class='d-block' href="{{ job.link | default('job_link') }}" target="_blank">
                Visualiser
            </a>

        </div>
    </div>
</div>
