<!DOCTYPE html>
<html>
	<head>
		<meta	charset="UTF-8">
		<title>
			{% block title %}
				Suivi des candidatures
			{% endblock %}
		</title>
		<link	rel="icon"	type="image/jpg"	href="{{ asset('img/logo.jpg') }}" />
		{{ encore_entry_link_tags('app') }}

		{% block stylesheets %}{% endblock %}

	</head>

	<body>

		{% block header %}
			<nav	class="navbar navbar-expand-lg bg-body-tertiary mb-3">
				<a	class="navbar-brand"	href="{{ url( 'app_synthese') }}">
					<img	src="/assets/img/logo.jpg"	class="brand-logo"	alt="brand logo">
					Bienvenue
					{{ app.user.firstname }}

				</a>
				<button	class="navbar-toggler"	type="button"	data-bs-toggle="collapse"	data-bs-target="#navbarNav"	aria-controls="navbarNav"	aria-expanded="false"	aria-label="Toggle navigation">
					<span	class="navbar-toggler-icon"></span>
				</button>
				<div	class="collapse navbar-collapse justify-content-end"	id="navbarNav">
					<ul	class="navbar-nav">
						<li	class="nav-item">
							<a	class="nav-link {% if app.request.get('_route') == 'app_synthese' %}active{% endif %}"	aria-current="page"	href="{{ url( 'app_synthese') }}">
								Accueil
							</a>
						</li>
						<li	class="nav-item">
					<a	class="nav-link {% if app.request.get('_route') == 'app_job_alert' %}active{% endif %}"	aria-current="page"	href="{{ url( 'app_job_alert') }}">
						Liste des offres sur Adzuna
					</a>
				</li>
						
						<li	class="nav-item">
							<a	class="nav-link {% if app.request.get('_route') == 'app_job_index' %}active{% endif %}"	aria-current="page"	href="{{ url( 'app_job_index') }}">
								Tableau de bord
							</a>
						</li>
						<li	class="nav-item">

							<a	class="nav-link {% if app.request.get('_route') ==	'app_user_show' %}active{% endif %}"	aria-current="page"	href="{{ url( 	'app_user_show') }}">
								Mon espace
							</a>
						</li>
						<li	class="nav-item">
							<a	class="nav-link"	href="{{ url( 'app_logout') }}">
								Se deconnecter
							</a>
						</li>
					</ul>
				</div>

			</nav>
		{% endblock %}
		{% for type, messages in app.session.flashBag.all %}
			{% for message in messages %}
				{% if type == 'error' %}
					{% set type = 'danger' %}
				{% endif %}
				{% if type == 'message' %}
					{% set type = 'info' %}
				{% endif %}
				<div	class="alert alert-{{ type }} alert-dismissible fade show"	role="alert">
					{{ message|raw }}
					<button	type="button"	class="btn-close"	data-bs-dismiss="alert"	aria-label="Close"></button>
				</div>
			{% endfor %}
		{% endfor %}
		{% if app.user %}

			<div	class="container-xxl">
			{% endif %}

			{% block body %}{% endblock %}
			
			{% if app.user %}

			</div>
		{% endif %}

		{% block footer %}{% endblock %}
		{{ encore_entry_script_tags('app') }}

		{% block javascripts %}{% endblock %}

	</body>
</html>
