{% set action =   '/note/new'  %}
{{ form_start(formNote,  {attr: {'novalidate': 'novalidate', 'action': action, 'data-turbo':"false" }}) }}
    {{ form_widget(formNote.content) }}

    <h4>Couleur</h4>
{% for child in formNote.color %}
    <div class="form-check">
        {{ form_widget(child, {
            'attr': {
                'class': 'form-check-input',  
            }
        }) }}
    <span style="display:inline-block; width: 20px; height: 20px; background-color: {{ child.vars.value }}; margin-right: 5px;"></span>
        {{ form_label(child, null, {'label_attr': {'class': 'form-check-label'}}) }}
</span>
    </div>
{% endfor %}
    <div class="d-flex justify-content-end gap-3 ">
    <button class="btn ">{{ button_label|default('Valider') }}</button>
    </div>
    {{ form_widget(formNote.job, {'attr' :{ 'value' : job.id } }) }}
{{ form_end(formNote) }}
